__pycache__
/.project
/.pydevproject
/.idea/
/.settings/
/widgets/map/res/*.svg
/widgets/map/res/*.png
/widgets/playerinfo/res/*.svg
/widgets/playerinfo/res/*.png
/widgets/shared/res/poi_house.svg
/widgets/shared/res/poi_lock.svg
/widgets/shared/res/poi_question.svg
/widgets/shared/res/poi_spanner.svg
/widgets/shared/res/poi_terminal.svg
/widgets/shared/res/poi_bust.svg
/widgets/shared/res/poi_cross.svg
/widgets/shared/res/poi_death.svg
/widgets/shared/res/poi_firstaid.svg
/widgets/shared/res/book.svg
/widgets/shared/res/award.svg
/pypipboy/
THumbs.db
log.txt
