[loggers]
keys=root,pypipboy,pypipboyapp

[handlers]
keys=default

[formatters]
keys=default

[logger_root]
level=WARNING
handlers=default

[logger_pypipboy]
level=INFO
handlers=default
propagate=0
qualname=pypipboy

[logger_pypipboyapp]
level=INFO
handlers=default
propagate=0
qualname=pypipboyapp

[handler_default]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[formatter_default]
format=F1 %(asctime)s %(levelname)s %(message)s
datefmt=
class=logging.Formatter